<ion-header>
  <ion-toolbar color="ExoticNav">
    <ion-buttons slot="start">
      <ion-button (click)="goToBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Subcategorías</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToRoute('carrito')">
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager style="height: 100%;" [options]="slidesOpts">
      <ion-slide *ngFor="let data of categorias" >
        <div class="categories_post">
          <img class="card-img rounded-0" *ngIf="data.picture" (click)="seeProducts(data.id, data.subcategorys)" src="{{data.picture}}" alt="post">
          <img class="card-img rounded-0" *ngIf="!data.picture" (click)="seeProducts(data.id, data.subcategorys)" src="https://bpresentacion.s3.us-west-2.amazonaws.com/avatars/QtZbn4Z3sLd0QCK7WcUB56tm4pGo88qNpi88TNMl.png" alt="post">
          <div class="categories_details" (click)="seeProducts(data.id, data.subcategorys)">
              <div class="categories_text">
              <a>
                <h5>{{ data.name }}</h5>
              </a>
            <div class="border_line"></div>
              <p>{{ data.description }}</p>
            </div>
          </div>
        </div>
      </ion-slide>
  </ion-slides>
</ion-content>
