.splash-logo {
  margin: auto;
  background: repeat transparent;
  background-size: 100%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: black;
  border: 3px solid black;
}
.splash-info {
  position: relative;
  z-index: 2;
  text-align: center;
}