<ion-header>
  <ion-toolbar color="ExoticNav">
    <ion-buttons slot="start">
      <ion-button (click)="goToBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Mi Carrito</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="goToRoute('direccion')">
        <ion-icon slot="icon-only" name="pin"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form style="display: block; max-width: 600px; height: auto; margin-left: auto; margin-right: auto;" (ngSubmit)="validarDatos()">
    <div >
      <img src="{{ data.archivo }}" id="imgAvatar" alt="Avatar" class="image-slides"/>
      <img src="{{ data.archivo }}" id="imgAvatar2" alt="Avatar" class="image-slides"/>
    </div>
    <!-- NOMBRE -->
    <ion-item>
      <ion-label position="floating"><ion-icon name="person"></ion-icon>  Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="data.x_first_name" name="x_first_name" disabled>
      </ion-input>
    </ion-item>
    <!-- APELLIDO -->
    <ion-item>
      <ion-label position="floating"><ion-icon name="person"></ion-icon>  Apellido</ion-label>
      <ion-input type="text" [(ngModel)]="data.x_last_name" name="x_last_name" disabled>
      </ion-input>
    </ion-item>
    <!-- NIT -->
    <ion-item>
      <ion-label position="floating"><ion-icon name="document"></ion-icon>  NIT</ion-label>
      <ion-input type="text" [(ngModel)]="data.x_company" name="x_company">
      </ion-input>
    </ion-item>
    <!-- FECHA -->
    <ion-item>
      <ion-label position="floating"><ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>  Fecha</ion-label>
      <ion-datetime displayFormat="YYYY MMM DD" [(ngModel)]="data.fecha" disabled
        pickerFormat="DD MMM YYYY" name="fecha">
      </ion-datetime>
    </ion-item>
    <!-- NO. FACTURA -->
    <ion-item>
      <ion-label position="floating"><ion-icon name="home"></ion-icon>  Dirección</ion-label>
      <ion-select [(ngModel)]="data.x_address" name="x_address">
        <div *ngFor="let x of table">
          <ion-select-option value="{{x.id}}" *ngIf="x.client == data.cliente">{{ x.direccion }}</ion-select-option>
        </div>
      </ion-select>
    </ion-item>
    <!-- CANTIDAD -->
    <ion-item>
      <ion-label position="floating"><ion-icon name="cart"></ion-icon>  Cantidad de Productos</ion-label>
      <ion-input type="text" disabled [(ngModel)]="data.cantidad" name="cantidad">
      </ion-input>
    </ion-item>
    <!--TIPO-->
    <ion-item>
      <ion-label position="floating"><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Tipo de Venta</ion-label>
      <ion-select [(ngModel)]="data.tipo" name="tipo">
        <ion-select-option value="1">Pago Contra Entrega</ion-select-option>
        <ion-select-option value="2">Deposito Bancario</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating"><ion-icon name="cash"></ion-icon>  Precio de Envío</ion-label>
      <ion-select [(ngModel)]="data.opcion" name="opcion" (ionChange)="onChange($event)">
        <ion-select-option value="1" >Q25.00 Ciudad Capital</ion-select-option>
        <ion-select-option value="2" >Q35.00 Mixco</ion-select-option>
        <ion-select-option value="3" >Q35.00 Villa Nueva</ion-select-option>
        <ion-select-option value="4" >Q35.00 Carretera Al Salvador</ion-select-option>
        <ion-select-option value="5" >Q35.00 KM 9 - KM 18</ion-select-option>
      </ion-select>
    </ion-item>
    <div *ngIf="data.tipo == 3">
    <!-- TIPO DE TARJETA -->
    <ion-item>
    <ion-label position="floating"><ion-icon name="card"></ion-icon>  Tipo de Tarjeta</ion-label>
      <ion-select [(ngModel)]="data.cc_type" name="cc_type">
        <ion-select-option value="visa">Visa</ion-select-option>
        <ion-select-option value="mastercard">MasterCard</ion-select-option>
      </ion-select>
    </ion-item>
    <!-- NUMERO DE TARJETA -->
    <ion-item>
      <ion-label position="floating"><ion-icon name="card"></ion-icon>  No. Tarjeta</ion-label>
      <ion-input type="number" [(ngModel)]="data.cc_number" name="cc_number">
      </ion-input>
    </ion-item>
    <!-- NOMBRE DE LA TARJETA -->
    <ion-item>
      <ion-label position="floating"><ion-icon name="card"></ion-icon>  Nombre de Tarjeta</ion-label>
      <ion-input type="text" [(ngModel)]="data.cc_name" name="cc_name">
      </ion-input>
    </ion-item>
    <!-- CVV -->
    <ion-item>
      <ion-label position="floating"><ion-icon name="card"></ion-icon>  CVV</ion-label>
      <ion-input type="text" [(ngModel)]="data.cc_cvv2" name="cc_cvv2">
      </ion-input>
    </ion-item>
    <!--FECHA-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="calendar"></ion-icon>  Fecha de Expiración MM/YY</ion-label>
      <ion-datetime displayFormat="MMM YYYY" [(ngModel)]="data.cc_exp" name="cc_exp" max="2050-12-31">
      </ion-datetime>
      <!--<ion-input type="text" [(ngModel)]="data.cc_exp" name="cc_exp" placeholder="MM/YY" maxlength="5">
      </ion-input>-->
    </ion-item>   
    </div>
    <!--PRECIO-->
    <ion-item *ngIf="data.tipo == 2">
      <ion-label position="floating"><ion-icon name="document"></ion-icon>  No. de Deposito</ion-label>
      <ion-input type="text" [(ngModel)]="data.deposito" name="deposito">
      </ion-input>
    </ion-item>
    <ion-card *ngIf="data.tipo == 2">
      <ion-card-header>
        <ion-card-subtitle>Información de la Cuenta</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p><strong>{{data.infodeposito}}</strong></p>
      </ion-card-content>
    </ion-card>
    <!-- TOTAL -->
    <ion-item>
      <ion-label position="floating"><ion-icon ios="ios-cash" md="md-cash"></ion-icon>  Total</ion-label>
      <ion-input type="text" disabled [(ngModel)]="data.total" name="total">
      </ion-input>
    </ion-item>
    <!-- COMENTARIO -->
    <ion-item>
      <ion-label position="floating"><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Comentario</ion-label>
      <ion-textarea type="text" [(ngModel)]="data.comment" name="comment">
      </ion-textarea>
    </ion-item>
    <!--DESCUENTO-->
    <ion-item>
      <ion-label position="floating"><ion-icon ios="ios-cash" md="md-cash"></ion-icon>  Código de Descuento</ion-label>
      <ion-input type="text" [(ngModel)]="data2.codigo" name="codigo" maxlength="255">
      </ion-input>
    </ion-item>
    <!--<div class="upload-btn-wrapper" *ngIf="data.tipo != 3">
      <button style="width: 100%" ion-button block icon-start outline type="button">
        <ion-icon ios="ios-attach" md="md-attach"></ion-icon>
        Adjuntar Archivo
      </button>
      <input class="upload-btn-wrapper2 button-md invisible" type="file" id="avatar" (change)="uploadImage($event,'avatar')"/>
    </div>-->
    <ion-button color="Exotic" expand="block" fill="solid" type="button" (click)="search()" [disabled]="btnDisabled2">
      <ion-icon name="search" slot="start"></ion-icon>
      Buscar Código
    </ion-button>
    <ion-button color="Exotic" expand="block" fill="solid" type="submit" [disabled]="btnDisabled">
      <ion-icon name="cart" slot="start"></ion-icon>
      Realizar Pedido
    </ion-button>
  </form>    
</ion-content>
