.img-center {
  width: auto; 
  height: 75%;
  border-radius: 15%;
}
.container { 
  width:100%;
  height:100%;
  position: relative;
}
.container img {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

ion-content {
  --background: url('https://images2.alphacoders.com/701/thumb-1920-70172.jpg') no-repeat center center / cover;
  //--background: #011000;
  //--background:linear-gradient(45deg,#1A2601 42%,#D6D982 58%);
}


ion-footer {
  --background: transparent;
}

.item.item-trns {
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}
.grid-item {
  padding: 0px;
  text-align: center;
}