<ion-header>
  <ion-toolbar color="ExoticNav">
    <ion-buttons slot="start">
      <ion-button (click)="goToBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Mi Carrito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<ion-card *ngFor="let x of cartProducts">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <!-- fab placed to the top and end and on the top edge of the content overlapping header 
      <ion-fab vertical="top" horizontal="end" edge slot="fixed">
          <ion-fab-button size="small" color="danger">
            <ion-icon name="trash"></ion-icon>
          </ion-fab-button>
        </ion-fab>
    </ion-card-header>

    <ion-card-content style="padding: 0px;">
      <ion-item lines="none">
        <ion-label>
          <p class="text"><strong>Precio: </strong>{{ x.price }}</p>
          <p class="text"><strong>Subtotal: </strong>{{ x.subtotal }}</p>
          <p *ngIf="x.opcion2" class="text"><strong>Presentación: </strong>{{ x.opcion2 }}</p>
        </ion-label>
        <ion-col size="6" slot="end">
          <ion-row justify-content-center align-items-center>
            <ion-col style="text-align: center">
            <h5>{{x.cantidad}}</h5>
            </ion-col>
          </ion-row>
          <ion-row justify-content-center align-items-center>
            <ion-col style="text-align: center">
              <ion-button size="small" color="Exotic" (click)="removeProduct(x)">
                <ion-icon name="remove" slot="icon-only"></ion-icon>
              </ion-button>
              <ion-button size="small" color="Exotic" (click)="addMore(x)">
                <ion-icon name="add" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-item>
      

    </ion-card-content>
  </ion-card>-->

  <ion-list>
    <div *ngFor="let x of cartProducts">
      <ion-item-divider>
        <ion-label>
          {{x.name}}
        </ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label color="dark">
          <p class="text"><strong>Precio: </strong>{{ x.price }}</p>
          <p class="text"><strong>Subtotal: </strong>{{ x.subtotal }}</p>
          <p *ngIf="x.opcion2" class="text"><strong>Presentación: </strong>{{ x.opcion2 }}</p>
          <ion-button size="small" slot="end" color="danger" (click)="deleteCar(x)">
            <ion-icon name="trash" ></ion-icon>
          </ion-button>
        </ion-label>
        <ion-col size="4" slot="end" style="padding: 0px;">
          <ion-row justify-content-center align-items-center style="padding: 0px;">
            <ion-col style="text-align: center">
            <h1 style="font-family: 'Baloo';">{{x.cantidad}}</h1>
            </ion-col>
          </ion-row>
          <ion-row justify-content-center align-items-center style="padding: 0px;">
            <ion-col style="text-align: center">
              <ion-button size="small" color="Exotic" (click)="removeProduct(x)">
                <ion-icon name="remove"></ion-icon>
              </ion-button>
              <ion-button size="small" color="Exotic" (click)="addMore(x)">
                <ion-icon name="add"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-item>
    </div>
    <ion-button color="Exotic" expand="block" fill="solid" type="button" (click)="goToRoute('compra')" [disabled]="btnDisabled">
      <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
      Confirmar Carrito
    </ion-button>
  </ion-list>

    

  <!--<ion-grid>
    <ion-row justify-content-center align-items-center style="border-bottom: 1px solid black;margin: 2px;" *ngFor="let x of cartProducts">
      <ion-col size="7">
        <div>{{x.name}}</div>
        <p class="text"><strong>Precio: </strong>{{ x.price }}</p>
        <p class="text"><strong>Subtotal: </strong>{{ x.subtotal }}</p>
        <div *ngIf="x.opcion2">
          <p class="text"><strong>Presentación: </strong>{{ x.opcion2 }}</p>
        </div>
        <ion-button size="small" icon-start color="danger" (click)="deleteCar(x)">
          <ion-icon ios="ios-trash" md="md-trash"></ion-icon> Eliminar
        </ion-button>
      </ion-col>
      <ion-col size="5">
        <ion-row justify-content-center align-items-center>
          <ion-col style="text-align: center">
          <h5>{{x.cantidad}}</h5>
          </ion-col>
        </ion-row>
        <ion-row justify-content-center align-items-center>
          <ion-col style="text-align: center">
            <ion-button size="small" color="Exotic" (click)="removeProduct(x)">
              <ion-icon name="remove" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-button size="small" color="Exotic" (click)="addMore(x)">
              <ion-icon name="add" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
      <!--<ion-col (click)="seeMore(x.producto)">
        <div><img src="{{x.picture}}" class="image-book"/></div>
      </ion-col>
    </ion-row>
  </ion-grid>-->
</ion-content>
