<ion-header>
  <ion-toolbar color="ExoticNav">
    <ion-buttons slot="start">
      <ion-button (click)="goToRoute('tab')">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Categorías</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToRoute('carrito')">
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager style="height: 100%;" [options]="slidesOpts">
      <ion-slide *ngFor="let data of categorias" >
        <div class="categories_post">
          <img class="card-img rounded-0" *ngIf="data.picture" (click)="getProducts(data.id, data.subcategorys)" src="{{data.picture}}" alt="post">
          <div class="categories_details" (click)="getProducts(data.id, data.subcategorys)">
              <div class="categories_text">
              <a>
                <h5>{{ data.name }}</h5>
              </a>
            <div class="border_line"></div>
              <p>{{ data.description }}</p>
            </div>
          </div>
        </div>
      </ion-slide>
  </ion-slides>
</ion-content>
