<ion-header>
  <ion-toolbar color="ExoticNav">
    <ion-title>Detalle de Pedido</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="data">
  <div style="height: 35%;">
    <img src="{{ data.users.picture }}" id="imgAvatar" alt="Avatar" class="image-slides"/>
  </div>
  <div padding *ngIf="data2">
    <p class="text"><strong><ion-icon name="paw"></ion-icon>  Proveedor: </strong>{{data.users.firstname}} {{data.users.lastname}}</p>
    <p *ngIf="data2" class="text"><strong><ion-icon name="cash"></ion-icon>  Tipo de Pago: </strong>{{data2.tipos.descripcion}}</p>
    <br>
    <div *ngFor="let item of data2.detalle">
      <ion-item-divider>
        <ion-label>
          {{item.productos.name}}
        </ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label color="dark">
          <p class="text"><strong>Precio: </strong>{{ item.productos.price }}</p>
          <p class="text"><strong>Cantidad: </strong>{{ item.cantidad }}</p>
          <p class="text"><strong>Subtotal: </strong>{{ item.subtotal }}</p>
        </ion-label>
      </ion-item>
    </div>
    <ion-item-divider>
        <ion-label *ngIf="total" color="dark">
          <strong>Total {{total}}</strong>
        </ion-label>
    </ion-item-divider>
  </div>
</ion-content>