<ion-header>
  <ion-toolbar color="ExoticNav">
    <ion-title>Promociones</ion-title>
  </ion-toolbar>
  <ion-toolbar color="ExoticNav">
    <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button value="promocion" checked>
        <ion-label>Promociones</ion-label>
      </ion-segment-button>
      <ion-segment-button value="descuento">
        <ion-label>Descuentos</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="selectItem=='promocion'">
  <ion-list>
    <ion-item lines="none" *ngFor="let data of promociones">
      <ion-label class="ion-text-wrap" color="dark">
        <p class="mayuscula"><strong>{{ data.title }}</strong></p>
        <p>{{ data.description }}</p>
        <p><ion-icon name="calendar"></ion-icon> Del {{ data.inicio | date: 'dd MMM, yyyy' }} al {{ data.fin | date: 'dd MMM, yyyy' }}</p>
        <p><strong>Descuento: </strong>{{ data.descuento }}%</p>
      </ion-label>
      <img class="img-noticia" src="{{ data.picture }}" slot="start">
    </ion-item>
  </ion-list>
</ion-content>

<ion-content padding *ngIf="selectItem=='descuento'">
  <div class="categories_post" *ngFor="let data of descuentos" (click)="copy(data.codigo)">
    <img class="card-img rounded-0" *ngIf="data.picture" src="{{data.picture}}" alt="post">
    <div class="categories_details">
      <div class="categories_text">
      <a><h5>{{ data.codigo }}</h5></a>
      <div class="border_line"></div>
        <p>{{ data.description }}</p>
      </div>
    </div>
  </div>
</ion-content>
