<ion-content padding>
  <div style="width: 100%; height: 350px;">
    <div class="container">
      <img class="img-center" src="https://bpresentacion.s3-us-west-2.amazonaws.com/Desarrollo/yaacov.png">
    </div>
  </div>
  <form padding (ngSubmit)="authentication()" class="item item-trns">
    <ion-item color="transparent">
      <ion-label style="color: white;"  position="floating"><ion-icon name="contact"></ion-icon>  Usuario</ion-label>
      <ion-input style="color: white;" type="text" [(ngModel)]="data.username" name="username"></ion-input>
    </ion-item>
    <ion-item color="transparent">
      <ion-label style="color: white;" position="floating"><ion-icon name="lock"></ion-icon>  Contraseña</ion-label>
      <ion-input style="color: white;" [type]="passwordType" [(ngModel)]="data.password" name="password">
      </ion-input>
      <ion-icon color="light" name="eye-off" slot="end" (click)="togglePassword()" *ngIf="!passwordShow"></ion-icon>
      <ion-icon color="light" name="eye" slot="end" (click)="togglePassword()" *ngIf="passwordShow"></ion-icon>
    </ion-item>
    <ion-button color="Exotic" expand="block" type="submit" [disabled]="disabledBtn">
      <ion-icon name="log-in" slot="start"></ion-icon>
      Iniciar Sesión
    </ion-button>
  </form>
    <ion-button color="light" expand="block" fill="clear" type="button" (click)="presentModalReset()">
      <ion-icon name="lock" slot="start"></ion-icon>
      ¿Olvidaste tu Contraseña?
    </ion-button>
    <ion-button color="light" expand="block" fill="clear" type="button" (click)="presentModalRegistro()">
      <ion-icon name="person" slot="start"></ion-icon>
      Crear Nueva Cuenta
    </ion-button>
    <!--<div class="grid-container" expand="block">
      <div class="grid-item">
        <ion-button style="width: 99%; margin: 0px;" color="google" expand="block" fill="solid" type="submit" [disabled]="disabledBtn">
          <ion-icon name="logo-google" slot="icon-only"></ion-icon>
        </ion-button>
      </div>
      <div class="grid-item">
        <ion-button style="width: 99%; margin: 0px;" color="facebook" expand="block" fill="solid" type="submit" [disabled]="disabledBtn">
          <ion-icon name="logo-facebook" slot="icon-only"></ion-icon>
        </ion-button>
      </div>
    </div>-->
</ion-content>