<ion-tabs>

  <ion-tab-bar slot="bottom" color="ExoticTab">
    <!--<ion-tab-button tab="dashboard">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>-->

    <ion-tab-button tab="categoria">
      <ion-icon name="musical-notes"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="promocion">
      <ion-icon name="pricetags"></ion-icon>
      <ion-label>Promociones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="informacion">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>Información</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil">
      <ion-icon name="person"></ion-icon>
      <ion-label>Mi Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
