.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.swiper-slide {
  display: block;
}
ion-slide > h2 {
  margin-top: 2.8rem;
}
ion-slide > img {
  max-height: 90%;
  max-width: 70%;
  margin: 36px 0;
}

.img-center {
  border-radius: 15%;
  max-height: 60%;
  max-width: 60%;
}
ion-content {
  --background: url('https://images2.alphacoders.com/701/thumb-1920-70172.jpg') no-repeat center center / cover;
  //--background: #011000;
  //--background:linear-gradient(45deg,#1A2601 42%,#D6D982 58%);
}