<ion-content>
  <div style="height: 50%; margin: 10px 0; text-align: center;">
    <img class="img-center" src="https://bpresentacion.s3-us-west-2.amazonaws.com/Desarrollo/yaacov.png"/>
    <h2></h2>
    <ion-button color="ExoticNav" (click)="iniciar()">
      CONTINUAR <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-button>
  </div>
  <div style="height: 50%; margin: 10px 0; text-align: center;">
    <img class="img-center" src="https://bpresentacion.s3.us-west-2.amazonaws.com/avatar/rKV5nn1XwH720RPZs5WWYzLtTjd4Jj0RDLb02toI.png"/>
    <h2></h2>
    <ion-button color="danger" (click)="iniciar()">
      CONTINUAR <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-button>
  </div> 
</ion-content>