<ion-header>
  <ion-toolbar color="ExoticNav">
    <ion-title>Detalle de Producto</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="data">
  <div>
      <h2 class="text center" *ngIf="data.name">{{data.name}}</h2>
      <p class="text center" *ngIf="data.description">
        <strong>
          <ion-icon name="information-circle"></ion-icon>  Descripción:
        </strong> {{data.description}}
      </p>
      <p class="text center" *ngIf="data.price ">
        <strong>
          <ion-icon name="pricetags"></ion-icon>  Precio:
        </strong> {{ moneda!=null?moneda:'Q' }} {{data.price}}
      </p>
      <p class="text center" *ngIf="data.quantity ">
        <strong>
          <ion-icon name="cart"></ion-icon>  Cantidad:
        </strong> {{data.quantity}}
      </p>
  </div><br/>


  <div *ngFor="let item of data.presentaciones_varias">
      <ion-item-divider>
        <ion-label class="mayuscula">
          {{item.description}}
        </ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label color="dark">
          <p class="text"><strong>Precio: </strong>{{moneda!=null?moneda:'Q'}} {{item.price}}</p>
          <p class="text"><strong>Cantidad: </strong>{{ item.cantidad }}</p>
        </ion-label>
      </ion-item>
    </div>
</ion-content>