<ion-header>
  <ion-toolbar color="ExoticNav">
    <ion-title>Dashboard</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToRoute('carrito')">
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: center;">
    <h2>Noticias</h2><hr>
  </div>
  <ion-slides pager [options]="slideOpts">
      <ion-slide *ngFor="let data of noticias" >
        <div class="categories_post">
          <img class="card-img rounded-0" *ngIf="data.picture" src="{{data.picture}}" alt="post">
          <div class="categories_details">
              <div class="categories_text">
              <a>
                <h5>{{ data.name }}</h5>
              </a>
            <div class="border_line"></div>
              <p>{{ data.description }}</p>
            </div>
          </div>
        </div>
      </ion-slide>
  </ion-slides>

  <div style="text-align: center;">
    <h2>Categorías</h2><hr>
  </div>
  <ion-slides pager [options]="slideOpts">
      <ion-slide *ngFor="let data of categorias" (click)="getProducts(data.id, data.subcategorys)">
        <div class="categories_post" >
          <img class="card-img rounded-0" *ngIf="data.picture" src="{{data.picture}}" alt="post" (click)="getProducts(data.id, data.subcategorys)">
          <div class="categories_details" (click)="getProducts(data.id, data.subcategorys)">
              <div class="categories_text">
              <a>
                <h5>{{ data.name }}</h5>
              </a>
            <div class="border_line"></div>
              <p>{{ data.description }}</p>
            </div>
          </div>
        </div>
      </ion-slide>
  </ion-slides>

  <div style="text-align: center;">
    <h2>Eventos</h2><hr>
  </div>
  <ion-slides pager [options]="slideOpts">
      <ion-slide *ngFor="let data of eventos" >
        <div class="categories_post">
          <img class="card-img rounded-0" *ngIf="data.picture" src="{{data.picture}}" alt="post">
          <div class="categories_details">
              <div class="categories_text">
              <a>
                <h5>{{ data.name }}</h5>
              </a>
            <div class="border_line"></div>
              <p>{{ data.description }}</p>
            </div>
          </div>
        </div>
      </ion-slide>
  </ion-slides>
</ion-content>
